.calendar-list {
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content;
    margin-bottom: var(--inter-block-gap);

    > ul {
        display: contents;
        list-style: none;
    }

    // Rows
    > h2,
    > ul > li,
    > .placeholder {
        grid-column: span 4;
    }

    // Rows with border
    > ul > li,
    > .placeholder {
        border-top: 1px dashed var(--secondary-text-color);
        padding: 13px 0;
    }

    > h2 {
        font-family: var(--serif);
        margin: 0;
        padding: 10px 0;
    }

    > ul > li {
        display: grid;
        grid-template-columns: subgrid;
        align-items: center;
        column-gap: 10px;
        row-gap: 4px;

        @media not (prefers-contrast: more) {
            &.-vetoed {
                opacity: .4;
            }
        }
    }

    > ul > li > label {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 2;
        gap: 10px;

        > .day { text-align: center; }
    }

    > ul > li > .answers-list {
        grid-column: 1 / 5;
        justify-content: start;
    }

    .placeholder {
        text-align: center;
        color: var(--secondary-text-color);
    }
}

.answers-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .8em;

    @media (hover: hover) and (not (prefers-contrast: more)) {
        opacity: .4;
        will-change: opacity; // Creates a stacking context which fixes clipping in Safari
        transition: opacity 125ms;

        &:hover {
            opacity: 1;
        }
    }

    > .answer {
        font-size: .7em;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: .4em;
    }
}
