.skip-link {
    --skip-link-offset: 20px;
    position: fixed;
    top: var(--skip-link-offset);
    left: var(--skip-link-offset);
    z-index: 1000;
    font-size: .875rem;
    font-family: var(--sans-serif);
    font-weight: bold;
    background-color: var(--accent-color-softened);
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;

    &:not(:focus) {
        transform: translateY(calc(-100% - var(--skip-link-offset)));
    }
}

.users-list {
    list-style-type: none;
    display: grid;
    gap: .5em;

    li {
        display: grid;
        grid-auto-flow: column;
        justify-content: left;
        align-items: center;
        gap: .3em;
        font-size: 1.1em;
    }
}

.page-banner {
    background-color: var(--background-color);
    border-bottom: 3px solid var(--accent-color-softened);
    font-family: var(--serif);
    font-size: 1rem;
    text-align: center;
    padding: .6em;
    z-index: 1;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.preview-box {
    $content-padding: 2rem;
    background-color: var(--highlight-bg);
    border-radius: 8px;
    overflow: hidden;

    > h2 {
        background-color: var(--inverted-background-color);
        color: var(--inverted-color);
        padding: 1rem $content-padding;
        margin: 0;
    }

    > .content {
        padding: $content-padding;
        font-size: .8em;
    }
}
