.skip-link {
    --skip-link-offset: 20px;
    position: fixed;
    top: var(--skip-link-offset);
    left: var(--skip-link-offset);
    z-index: 1000;
    font-size: .875rem;
    font-family: var(--sans-serif);
    font-weight: bold;
    background-color: var(--accent-color-softened);
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;

    &:not(:focus) {
        transform: translateY(calc(-100% - var(--skip-link-offset)));
    }
}

.users-list {
    list-style-type: none;
    display: grid;
    gap: .5em;

    li {
        display: grid;
        grid-auto-flow: column;
        justify-content: left;
        align-items: center;
        gap: .3em;
        font-size: 1.1em;
    }
}
