@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    // ss01 = Open Digits
    // cv08 = Upper-case i with serif
    // zero = Slashed Zero
    font-feature-settings: "ss01", "cv08", "zero";
    src: url("fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2");
}

@font-face {
    font-family: 'Vollkorn';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('./fonts/vollkorn/Vollkorn-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Vollkorn';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url('./fonts/vollkorn/Vollkorn-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('./fonts/vollkorn/Vollkorn-Bold.woff2') format('woff2');
}
