:disabled {
    opacity: .5;
    pointer-events: none;
}

input[type=text],
input[type=email],
input[type=number],
input[type=date],
textarea,
select {
    @extend %textlike-input;
}

button,
.link-button {
    @extend %button;
}

@import 'form/_fieldset';
@import 'form/_button';
@import 'form/_textlike';
@import 'form/_time';
@import 'form/_select';
@import 'form/_toggle';
@import 'form/_symbol-picker';

input[type=number] {
    appearance: textfield;
    letter-spacing: 0.25em;
}

// Safari on iOS displays date inputs as blank boxes,
// the min-width is needed because we set min-width: 0 for all inputs earlier.
// And yes, input[type=date] can't have a placeholder on iOS Safari :/
input[type=date] {
    min-height: calc(1lh - 2 * var(--vertical-margin, 0px));

    &:not([size]) { min-width: 100px; }
}

textarea {
    resize: vertical;
    text-align: left;
    --vertical-padding: var(--horizontal-padding);

    &:not(:is([rows], [cols])) {
        aspect-ratio: 16 / 9;
    }
}

.logout-form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
