:disabled {
    opacity: .5;
    pointer-events: none;
}

input[type=text],
input[type=email],
input[type=number],
input[type=date],
textarea,
select {
    @extend %textlike-input;
}

button,
.link-button {
    @extend %button;
}

@import 'form/_fieldset';
@import 'form/_button';
@import 'form/_textlike';
@import 'form/_time';
@import 'form/_select';
@import 'form/_toggle';

input[type=number] {
    appearance: textfield;
    letter-spacing: 0.25em;
}

textarea {
    resize: vertical;
    aspect-ratio: 16 / 9;
    text-align: left;
    --vertical-padding: var(--horizontal-padding);
}

.logout-form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
