fieldset {
    display: grid;
    justify-items: start;
    margin-bottom: var(--inter-block-gap-with-line-height-compensation);

    input[type=text],
    input[type=email],
    select {
        justify-self: stretch;
    }

    button,
    .link-button {
        margin-bottom: .5rem;
    }

    &.-actions {
        margin-top: calc(var(--inter-block-gap) * 2);
    }

    &.-two-column {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        @media (max-width: 500px) {
            grid-template-columns: 100%;
        }
    }
}

button {
    @extend a;
    cursor: pointer;

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
}

button, .link-button {
    &:not(.-icon)::before {
        content: '→ ';
        font-family: var(--sans-serif);
    }

    &.-icon {
        display: inline-flex;
        align-items: center;
        grid-gap: 4px;

        > svg {
            display: inline;
            width: 1em;
            height: 1em;
        }
    }
}

input[type=text],
input[type=email],
input[type=number],
input[type=time],
select {
    font-weight: bold;
    text-align: center;
    padding: 8px 20px;
    border-bottom: 4px dashed currentColor;

    @media (prefers-contrast: more) {
        border-radius: 6px;
        border: 2px dashed currentColor;
    }

    &:focus-visible {
        outline: none;
        border-color: var(--accent-color);

        @media (prefers-contrast: more) {
            border: 2px solid currentColor;
            outline: 1px solid currentColor;
        }
    }

    &:not([size]) {
        min-width: 0;
    }

    background-color: color-mix(in srgb, var(--accent-color), #fff 90%);

    @media (prefers-color-scheme: dark) {
        background-color: color-mix(in srgb, var(--accent-color), #000 85%);
    }
}

input[type=number] {
    appearance: textfield;
    letter-spacing: 0.25em;
}

.logout-form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    button { margin: 0 }
}
