$content-padding: 30px;

:root {
    --content-padding: #{$content-padding};
    --content-max-width: calc(600px + 2 * var(--content-padding));
}

body {
    display: grid;
    grid-template-columns: minmax(0, var(--content-max-width));
    grid-template-rows: max-content 1fr max-content;
    min-height: 100svh;
    align-content: start;
    justify-content: center;
}

main {
    margin-trim: all;
    padding: calc(var(--content-padding) + 10svmin) var(--content-padding);
}

nav {
    padding: 0 var(--content-padding);
}

footer {
    padding: 0 var(--content-padding) var(--content-padding) var(--content-padding);
    font-size: .875em;

    @media (hover: hover) and (not (prefers-contrast: more)) {
        opacity: .4;
        transition: opacity 125ms;

        &:hover {
            opacity: 1;
        }
    }

    &::before {
        content: '';
        border-top: 1px solid currentColor;
        display: block;
        max-width: 200px;
        width: 100%;
        margin-bottom: 10px;
    }
}
