$content-padding: 30px;

:root {
    --content-padding: #{$content-padding};
    --content-max-width: calc(600px + 2 * var(--content-padding));
}

body {
    display: grid;
    grid-template-columns: minmax(0, var(--content-max-width));
    align-content: start;
    justify-content: center;
}

main {
    margin-trim: all;
    padding: 0 var(--content-padding) var(--content-padding) var(--content-padding);
}

nav {
    padding: 0 var(--content-padding);
    margin-bottom: calc(var(--content-padding) + 40px);
}

footer {
    padding: 0 var(--content-padding) var(--content-padding) var(--content-padding);
    font-size: .875em;

    @media (hover: hover) {
        opacity: .4;
        transition: opacity 125ms;

        &:hover {
            opacity: 1;
        }
    }

    &::before {
        content: '';
        border-top: 1px solid currentColor;
        display: block;
        max-width: 200px;
        width: 100%;
        margin-bottom: 10px;
    }
}
