$content-padding: 30px;

:root {
    --content-padding: #{$content-padding};
    --content-max-width: calc(38rem + 2 * var(--content-padding));
}

body {
    display: grid;
    grid-template-areas: 'banner banner banner' '. nav .' '. content .' '. footer .';
    grid-template-columns: 1fr minmax(0, var(--content-max-width)) 1fr;
    grid-template-rows: max-content max-content 1fr max-content;
    min-height: 100svh;
}

main {
    grid-area: content;
    margin-trim: all;
    padding: calc(var(--content-padding) + 10svmin) var(--content-padding);
}

nav {
    grid-area: nav;
    padding: 0 var(--content-padding);
}

footer {
    grid-area: footer;
    padding: 0 var(--content-padding) var(--content-padding) var(--content-padding);
    font-size: .875em;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: .5rem;

    &::before {
        @extend %fleuron;
        content: '';
    }

    @media (hover: hover) and (not (prefers-contrast: more)) {
        opacity: .4;
        transition: opacity 125ms;

        &:hover, &:focus-within {
            opacity: 1;
        }
    }
}

.page-banner {
    grid-area: banner;
}
