$bookmark-width: 60px;
$bookmark-spacing: 30px;
$bookmark-count: 5;

$bookmarks-total-width:
    $content-padding * 2 +
    $bookmark-width * $bookmark-count +
    $bookmark-spacing * ($bookmark-count - 1);

nav {
    --bookmark-height: 160px;
    --bookmark-collapsed-height: 80px;
    --bookmark-peek-distance: 10px;
    --bookmark-padding: 30px;

    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-auto-columns: $bookmark-width;
    gap: 24px;
    height: var(--bookmark-height);

    @media (max-width: $bookmarks-total-width) {
        gap: 10px;
        grid-auto-columns: 50px;
        --bookmark-height: 100px;
        --bookmark-collapsed-height: 70px;
        --bookmark-padding: 20px;
    }
}

%height-calculation {
    &:not(.-active) {
        --height: var(--bookmark-collapsed-height) - var(--bookmark-peek-distance);

        &:hover {
            --height: var(--bookmark-collapsed-height);
        }
    }

    &.-active {
        --height: var(--bookmark-height) - var(--bookmark-peek-distance);

        &:hover {
            --height: var(--bookmark-height);
        }
    }
}

nav a {
    display: grid;
    align-content: end;
    justify-content: center;
    justify-items: center;
    color: #fff;
    background-color: var(--accent-color-softened);
    clip-path: polygon(0 0, 0 100%, 50% 90%, 100% 100%, 100% 0);
    padding: var(--bookmark-padding) 0;
    transform: translateY(calc(var(--height) - var(--bookmark-height)));

    @extend %height-calculation;

    @media (prefers-reduced-motion: no-preference) {
        transition: opacity 125ms, transform 125ms;
    }

    svg {
        width: 1em;
        height: 1em;
    }

    &:focus-visible {
        outline: none;

        svg {
            outline: 2px solid var(--outline-color);
            outline-offset: 4px;
            border-radius: 2px;
        }
    }
}
