*, *::before, *::after {
    font: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
}

// Disables iOS Safari's rounding on inputs
input, select {
    border-radius: 0;
}
