:root {
    --serif: 'Vollkorn', serif;
    --sans-serif: 'Inter', sans-serif;
    --inter-block-gap: 1.5rem;
    --inter-block-gap-with-line-height-compensation: 1.7rem;
}

:root {
    font-family: var(--serif);
    line-height: 1.4;
}

// Used by the calendar picker and for inputs with a datalist
// The indicator arrow is off center in Chromium if the line-height >1.
::-webkit-calendar-picker-indicator {
    line-height: 1;
}

:root {
    -webkit-text-size-adjust: none; // Stop iOS Safari from adjusting the font size in landscape.
}

::selection {
    color: var(--accent-color-highlight-fg);
    background-color: var(--accent-color-highlight-bg);
}

body {
    font-size: 1.25rem;
}

h1, h2, h3 {
    font-family: var(--sans-serif);
    font-weight: bold;
}

h1, h2, h3, p {
    margin-bottom: var(--inter-block-gap);
}

h1 {
    font-size: 3.75rem;
    line-height: 1.2;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

small {
    font-size: .8em;
}

._invert {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 0 .2em;
    display: inline-block;
    line-height: 1.5;

    @media (forced-colors: active) {
        background-color: transparent;
        color: var(--text-color);
        padding: 0;
    }
}

a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
    transition: opacity 125ms;

    &:hover {
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-thickness: 2px;
        text-underline-offset: 0;
    }

    &:active {
        opacity: .8;
    }
}

.chapter-number {
    font-size: 1.875rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.message {
    font-size: 1rem;
    font-family: var(--sans-serif);
    font-weight: bold;
    margin-bottom: 1rem;

    > .label,
    > .icon {
        display: inline-block;
        vertical-align: middle;
    }

    > .icon {
        color: #fff;
        border-radius: 100%;
        padding: .5em;
        line-height: 0;
        margin-right: 8px;
    }

    &.-error > .icon {
        background-color: #d20f39;
    }

    &.-success > .icon {
        background-color: #40a02b;
    }

    svg {
        width: 1em;
        height: 1em;
    }
}
