:root {
    --serif: 'Vollkorn', serif;
    --sans-serif: 'Inter', sans-serif;
    --seven-segment: 'DSEG7 Modern', monospace;
    --inter-block-gap: 1.5rem;
    --inter-block-gap-with-line-height-compensation: 1.7rem;
}

:root {
    font-family: var(--serif);
    line-height: 1.4;
}

// Used by the calendar picker and for inputs with a datalist
// The indicator arrow is off center in Chromium if the line-height >1.
::-webkit-calendar-picker-indicator {
    line-height: 1;
}

:root {
    -webkit-text-size-adjust: none; // Stop iOS Safari from adjusting the font size in landscape.
}

::selection {
    color: var(--accent-color-highlight-fg);
    background-color: var(--accent-color-highlight-bg);
}

body {
    font-size: 1.25rem;
}

h1, h2, h3 {
    font-family: var(--sans-serif);
    font-weight: bold;
}

h1, h2, h3, p {
    margin-bottom: var(--inter-block-gap);
}

h1 {
    font-size: 3.75rem;
    line-height: 1.2;

    // This is optimized for the Game Night heading to stay on one line
    @media (max-width: 450px) {
        font-size: 3rem;
    }
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

small {
    font-size: .8em;
}

._invert {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 0.15em;
    display: inline-block;

    @media (forced-colors: active) {
        background-color: transparent;
        color: var(--text-color);
        padding: 0;
    }
}

a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
    transition: opacity 125ms;

    &:hover {
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-thickness: 2px;
        text-underline-offset: 0;
    }

    &:active {
        opacity: .8;
    }
}

.chapter-number {
    font-size: 1.875rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.error-message {
    font-size: 1rem;
    background-color: color-mix(in srgb, #d20f39, var(--background-color) 70%);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 1rem;
}

.success-message {
    font-size: 1rem;
    background-color: color-mix(in srgb, #40a02b, var(--background-color) 70%);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 1rem;
}

.postal-address {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    margin-bottom: var(--inter-block-gap);
    gap: 1ex;

    .nameplate {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto;
        gap: 50px;
        border: 4px double currentColor;
        padding: 10px;
        border-radius: 6px;

        > div {
            justify-self: center;
        }

        &::before,
        &::after {
            content: '';
            width: .4em;
            height: .4em;
            border-radius: 50%;
            background-color: currentColor;
        }
    }

    .floor {
        display: grid;
        grid-template-rows: auto 1fr;
        border: 2px solid currentColor;
        border-radius: 6px;
        font-family: var(--sans-serif);
        font-size: 2rem;

        > span {
            padding: 20px 25px;
            align-self: center;
        }

        &::before {
            font-size: .3em;
            padding: 2px;
            content: attr(aria-label);
            text-align: center;
            background-color: var(--text-color);
            color: var(--background-color);
            align-self: start;
        }
    }

    .address {
        text-align: center;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--secondary-text-color);
    padding: 6px 12px;
}

th {
    font-weight: 700;
}

tr:target td {
    background-color: var(--highlight-bg);
}
