@import '_fonts';
@import '_reset';

@page {
    size: A6 portrait;
    margin: 0;
}

:root {
    --guidelines-thickness: .1mm;
}

em {
    font-style: italic;
}

body {
    font-family: 'Vollkorn', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 13pt;
    line-height: 1.2;

    @media not print {
        padding: 20px;
    }
}

.page {
    page-break-inside: avoid;
    page-break-after: always;
    page-break-before: always;
}

.meeting-notes {
    width: 105mm;
    height: 73.9mm;
    padding: 4mm;
    display: grid;
    align-content: center;

    @media not print {
        outline: 2px dashed currentColor;
    }
}

h1 {
    font-family: Inter, sans-serif;
    font-size: 15pt;
    font-weight: bold;
    padding-bottom: .2mm;
    margin-bottom: 4mm;
    border-bottom: 1mm solid;
    border-image: linear-gradient(to right, #E02020, #FA6400, #F7B500, #6DD400, #0091FF, #6236FF, #B620E0) 30;
    width: max-content;
}

h2 {
    font-weight: bold;
    margin-bottom: 1mm;
}

section + section {
    margin-top: 3mm;
}

p + p {
    margin-top: 2mm;
}

section.-horizontal {
    display: flex;
    gap: 4mm;
    align-items: center;

    h1, h2 { margin-bottom: 0; }
}
