{% extends "emails/base.html" %}

{% block content %}
<h1>
    <em>Tau's Game Night{% if !event.title.is_empty() %} «{{event.title}}»{% endif %}</em> is set for {{event.starts_at | time("{date}")}} 🥳
</h1>

<p>
    The next instance of <em>Tau's Game Night</em>
    is happening on <strong>{{event.starts_at | time("{date}")}}</strong>
    at <strong>{{event.starts_at | time("{time}")}}</strong>
    and you are warmly invited {{random.heart()}}
</p>

<p>
    Unfortunately this is a date that—according to the poll—you're not available on.
    But don't worry, there's always next time. <br>
    Alternatively, if your plans change you can always still join us 😊
</p>

<a href="{{event_url}}">
    <span class="arrow" role="presentation">→</span>
    Add me to the list and show me the detes&hellip;
</a>

<hr>

<strong>P.S.</strong> You are receiving this email because you participated in the poll for this event.
{% endblock content %}
