{% if has_answers %}
    <p class="message-box -small _green">
        Thank you for participating in the poll! You can change your answer
        as often as you'd like until the deadline on <strong>{{poll.open_until | time(format="{date}")}}</strong>
        at <strong>{{poll.open_until | time(format='{time}')}}</strong>.
    </p>
{% endif %}
