{% extends "base.html" %}

{% block title %}Poll{% endblock title %}

{% block content %}
<p>
    Yayy, you're all set! However, there is currently no event planned.
</p>

<p>
    {% if user | is_subscribed %}
        I will send you an email to <strong>{{user.email_address}}</strong>
        once it's time to vote for a date.
    {% else %}
        Check this website from time to time to see if a poll is open
        or <a href="{{uri.profile_page()}}">subscribe</a> to receive an email when a poll is opened.
    {% endif %}
</p>

<fieldset class="-actions">
    {% if let Some(uri) = uri.new_poll_page() %}
        <a href="{{uri}}" class="link-button">Start a new poll</a>
    {% endif %}
    <a href="{{uri.archive_page()}}" class="link-button">Show past game nights</a>
</fieldset>

{% endblock content %}
