{% extends "base.html" %}

{% block title %}Send a Push Notification{% endblock title %}

{% block content %}
<form method="post">
    <p>
        Let's send a push notification to

        <select name="recipient" class="-inline">
            {% for u in users %}
                <option value="{{u.id}}" {% if u.id == recipient_id %}selected{% endif %}>{{u.name}}</option>
            {% endfor %}
        </select>
    </p>

    <fieldset>
        <label for="notification">This is the notification:</label>
        <textarea class="_mono" name="notification" id="notification" data-auto-resize>{{notification}}</textarea>
    </fieldset>

    <fieldset class="-actions">
        <button type="submit">Push</button>
    </fieldset>
</form>
{% endblock content %}

{% block scripts %}
<script type="module" src='{{ctx.asset("/js/auto-resize.js")}}'></script>
{% endblock scripts %}
