{{greeting}} {{name}},

You're Invited to Tau's Game Night 🥳

The next instance of Tau's Game Night is happening on
{{event.starts_at | time(format = "{date}")}} at {{event.starts_at | time(format = "{time}")}} and you are warmly invited {{heart}}

Be sure to add this date to your calendar ASAP :)

→ Show me all the deets! {{event_url}}
