{% extends "base.html" %}

{% block title %}Archive{% endblock title %}

{% block content %}
    <div class="calendar-list -events">
         {% for chunk in events_by_year %}
            <h2>{{chunk.year}}</h2>
            {{ EventListComponent::for_events(chunk.events).show_year(chunk.year != current_year) | safe }}
         {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src='{{ctx.asset("/js/relative-time-element.js")}}' type="module"></script>
{% endblock scripts %}
