<!doctype html>
<html lang="en" class="_{{ page.type }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="preload" as="font" href="/fonts/vollkorn/Vollkorn-Regular.woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/fonts/vollkorn/Vollkorn-Italic.woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/fonts/vollkorn/Vollkorn-Bold.woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/fonts/inter/Inter-Bold.woff2?v=3.19" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Tau's Game Night</title>
</head>
<body>
    <a href="#main" tabindex="0" class="skip-link">Skip to content</a>

    {% if sudo %}
        <form class="page-banner" action="/sudo/exit" method="post">
            You are acting on behalf of <strong>{{user.name}}</strong>
            <input type="hidden" name="redirect" value="{{page.uri}}">
            <button type="submit">Exit</button>
        </form>
    {% endif %}

    <nav>
        <a href="/" class="_home{% if page.type == 'home' %} -active{% endif %}" title="Home" accesskey="h">
            <svg role="img" aria-label="Home"><use href="/icons/home.svg#icon" aria-hidden="true" /></svg>
        </a>
        <a href="/invite" class="_invite{% if page.type == 'invite' %} -active{% endif %}" title="Get Invited">
            <svg role="img" aria-label="Mail Open"><use href="/icons/mail-open.svg#icon" aria-hidden="true" /></svg>
        </a>
        <a href="/register" class="_register{% if page.type == 'register' %} -active{% endif %}" title="Register">
            <svg role="img" aria-label="Clipboard Signature"><use href="/icons/clipboard-signature.svg#icon" aria-hidden="true" /></svg>
        </a>
        <a href="/poll" class="_poll{% if page.type == 'poll' %} -active{% endif %}" title="Poll">
            <svg role="img" aria-label="Calendar Check"><use href="/icons/calendar-check.svg#icon" aria-hidden="true" /></svg>
        </a>
        <a href="/play" class="_play{% if page.type == 'play' %} -active{% endif %}" title="Play">
            <svg role="img" aria-label="Dices"><use href="/icons/dices.svg#icon" aria-hidden="true" /></svg>
        </a>
    </nav>

    <main id="main">
        <header>
            <div class="chapter-number">
                Chapter {{page.chapter_number}}
            </div>
            <h1>
                {% block title %}
                {% endblock title %}
            </h1>
        </header>
        {% block content %}{% endblock content %}
    </main>

    {% if user %}
        <footer>
            <form action="/logout" method="post" class="logout-form">
                <span>Signed in as <strong>{{user.name}}</strong></span>
                <button type="submit">Log out</button>
                <input type="hidden" name="redirect" value="{{page.uri}}">
            </form>
        </footer>
    {% else %}
        <footer>
            <span>a website by <a href="https://tau.garden">Tau</a>.</span>
        </footer>
    {% endif %}
</body>
</html>
