<!doctype html>
<html lang="en" class="_{{active_chapter.accent_color}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="manifest" href="/manifest.json" />
    <!-- Chrome only picks the SVG over the PNG icon if it has sizes=any -->
    <link rel="icon" sizes="any" href="/favicon.svg" type="image/svg+xml">
    <!-- Firefox only picks the SVG over the PNG icon if its size >= the size of the PNG -->
    <link rel="icon" sizes="512x512" href="/favicon.svg" type="image/svg+xml">
    <link rel="icon" sizes="192x192" href="/favicon-192x192.png" type="image/png">
    <link rel="icon" sizes="512x512" href="/favicon-512x512.png" type="image/png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="mask-icon" href="/mask-icon.svg" color="#ec68aa">
    <link rel="preload" as="font" href="/fonts/vollkorn/Vollkorn-Regular.woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/fonts/vollkorn/Vollkorn-Italic.woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/fonts/vollkorn/Vollkorn-Bold.woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/fonts/inter/Inter-Bold.woff2?v=3.19" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Tau's Game Night</title>
</head>
<body>
    <a href="#main" tabindex="0" class="skip-link">Skip to content</a>

    {% if sudo %}
        <form class="page-banner" action="/sudo/exit" method="post">
            You are acting on behalf of <strong>{{user.name}}</strong>
            <input type="hidden" name="redirect" value="{{page.uri}}">
            <button type="submit">Exit</button>
        </form>
    {% endif %}

    <nav>
        {% for chapter in chapters %}
            <a href="{{chapter.uri}}" class="_{{chapter.accent_color}}{% if chapter.uri == active_chapter.uri %} -active{% endif%}" title="{{chapter.title}}">
                <svg role="img" aria-label="{{chapter.icon.aria_label}}">
                    <use href="/icons/{{chapter.icon.name}}.svg#icon" aria-hidden="true" />
                </svg>
            </a>
        {% endfor %}
    </nav>

    <main id="main">
        <header>
            <h1>
                {% block title %}
                {% endblock title %}
            </h1>
        </header>
        {% block content %}{% endblock content %}
    </main>

    {% if user %}
        <footer>
            <form action="{{logout_uri}}" method="post" class="logout-form">
                <span>Signed in as <strong>{{user.name}}</strong></span>
                <button type="submit">Log out</button>
                <input type="hidden" name="redirect" value="{{page.uri}}">
            </form>
        </footer>
    {% else %}
        <footer>
            <span>a website by <a href="https://tau.garden">Tau</a>.</span>
        </footer>
    {% endif %}
</body>
</html>
