<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/print.css">
</head>
<body>
    {% for cards in pages %}
    <div class="page">
        {% for passphrase in cards %}
            <div class="meeting-notes">
                <h1>Meeting of the Sun, Planets, et al.</h1>
                <section class="-horizontal">
                    <h2>Attendees</h2>
                    <p style="font-family: 'Symbola'; font-weight: bold; letter-spacing: .2em;">REDACTED</p>
                </section>
                <section class="-horizontal">
                    <h2>Agenda</h2>
                    <p>{{passphrase | join(sep=' ')}}</p>
                </section>
                <section>
                    <h2>Transcript</h2>
                    <p>
                        «<em>Positions</em> everyone!» exclaimed the sun.
                        Can anyone tell me what to do with these words?
                    </p>
                    <p>
                        «Maybe we can <em>call</em> someone for help» contemplated
                        one of the others.
                    </p>
                </section>
            </div>
        {% endfor %}
    {% endfor %}
    </div>
</body>
</html>
