{% extends 'base' %}

{% block title %}Tau's<br><span class="_invert">Game Night</span>{% endblock title %}

{% block content %}
<p>
    A (board) game night in Zurich organized every month or so.
    Participating requires an invitation from <a href="https://tau.garden">Tau</a>.
</p>
<p>
    <a href="{{getting_invited_uri}}" class="link-button">Learn More</a>
</p>
{% endblock content %}
