{% import 'user-macros' as user_macros %}
{% import 'macros' as macros %}

{% extends 'base' %}

{% block page_title %}
    {% if event.title %}
        Tau's Game Night «{{event.title}}»
    {% else %}
        Tau's Game Night
    {% endif %}
{% endblock %}

{% block title %}Play{% endblock title %}

{% macro event_details(event, user) %}
    {% if event.title %}
        <h2>{{macros::long_title(event=event)}}</h2>
    {% endif %}

    <p>
        {{user_macros::name(user=event.created_by, inline=true)}} is organizing a <em>game night</em>
        on <strong>{{event.starts_at | time(format='{date}')}}</strong> at
        <strong>{{event.starts_at | time(format='{time}')}}</strong>
        and you're invited 🥳
    </p>

    {% if event.restrict_to %}
    <p>
        This is a special game night just for members of
        <strong>«{{event.restrict_to.name}}»</strong>.
    </p>
    {% endif %}

    <fieldset>
        <a class="link-button" href="{{ics_uri}}" download="game-night-{{event.id}}">Save to Calendar</a>
    </fieldset>

    {% if leave_uri %}
        <section>
            <h2>Can't make it?</h2>
            <p>
                <a href="{{leave_uri}}">Leave</a> this event to
                communicate your absence to {{user_macros::name(user=event.created_by, inline=true)}}.
            </p>
        </section>
    {% endif %}

    <section>
        <h2>What?</h2>
        {{event.description | markdown | safe}}
    </section>

    <section>
        <h2>When?</h2>
        <p>
            On <strong>{{event.starts_at | time(format='{date}')}}</strong>
            at <time>{{event.starts_at | time(format='{time}')}}</time>.
        </p>
    </section>

    <section>
        <h2>Where?</h2>
        {{ postal_address | safe }}
    </section>

    <section>
        <h2>Who?</h2>
        <ul class="users-list">
            {% for participant in participants.participants %}
                <li>
                    {{user_macros::name(user=participant.user)}}
                    {% if participant.user.id == user.id %}
                        <small><strong>← this is you!</strong></small>
                    {% endif %}
                </li>
            {% endfor %}
            {% if participants.redacted %}
                <li>&hellip;</li>
            {% endif %}
        </ul>
    </section>
{% endmacro %}

{% block content %}
    {% if join_uri %}
        <p>
            Hey there <strong>{{user.name}}</strong>, it looks like you missed the poll.
            No problem! You can still join us :)
        </p>

        <form>
            <fieldset>
                <button type="submit" formmethod="post" formaction="{{join_uri}}">Join</button>
            </fieldset>
        </form>

        <div class="preview-box">
            <h2>Preview</h2>

            <div class="content">
                {{ self::event_details(event=event, user=user) }}
            </div>
        </div>
    {% else %}
        {% if stage == "archived" %}
            <p class="message-box"><strong>Careful:</strong> You're viewing a game night that's in the past.</p>
        {% elif stage == "cancelled" %}
            <p class="message-box"><strong>Important:</strong> This game night has been cancelled.</p>
        {% endif %}
        {{ self::event_details(event=event, user=user) }}
    {% endif %}

    <hr>

    <p>
        Check out the <a href="{{archive_uri}}">archive</a> to see a list of all past game nights.
    </p>
{% endblock content %}
