{% extends 'base' %}

{% block title %}Play{% endblock title %}

{% block content %}
<p>
    <em>Yayy, you're all set! However, there is currently no event planned.<br>
    I will send you an email to <strong>{{user.email_address}}</strong>
    once it's time to vote for a date.</em>
</p>
{% endblock content %}
