{% macro avatar(user) %}
    <svg class="user-avatar" viewBox="0 0 24 24" style="font-family: var(--symbols); vertical-align: middle;" title="{{user.name}}">
        <circle cx="50%" cy="50%" r="50%" fill="{{accent_color(index=user.id)}}" />
        <text fill="#fff" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" dy=".1em" style="font-size: 60%">{{avatar_symbol(index=user.id - 1)}}</text>
    </svg>
{% endmacro %}
