html {
    // Required for macOS and iOS Mail
    color-scheme: dark light;
}

// Some email clients (like Outlook and iOS Mail) have fonts overwritten on the specific elements,
// so setting the font family on html is not enough.
html,
body,
p,
a,
.greeting,
.code {
    font-size: 20px; // rem unfortunately does not work correctly across clients :/
    line-height: 1.5;
    font-family: Vollkorn, 'Noto Serif', 'Hoefler Text', 'Times New Roman', serif;
    font-weight: 400; // Some mail clients (like iCloud Mail on the Web) set the font-weight to 300
    // Vollkorn is the preferred font, although nobody will have it installed :)
    // Noto Serif is for Android and Linux
    // Times New Roman is for Windows and Outlook (web)
    // Hoefler Text is for macOS
}

p,
.code {
    margin: 20px 0;
}

// Outlook and Windows Mail do not support margin: auto, so we have
// to achieve the centering with tables.
table {
    border-collapse: collapse;
}

.outer-table {
    width: 100%;
}

.inner-table-cell {
    padding: 10px;
    padding-top: 30px;
    box-sizing: border-box;
    width: 600px;
}

.greeting {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 1rem;
}

h1 {
    font-size: 32px;
    line-height: 1.2;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

a {
    font-weight: bold;
    color: #8839ef !important;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    text-underline-offset: 0;
}

a .arrow {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.code {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    border: 3px dashed currentColor;
}

.code td {
    padding: 10px 20px;
}

hr {
    border-style: solid;
    margin-left: 0;
    margin-top: 40px;
    width: 200px;
}

// This is a weird div that iCloud Mail (Web) inserts
// between the <body> and our content. It background-color: #fff, which breaks our dark mode :/
.mail-message-defaults {
    background-color: transparent;
}

// Some Mail Clients *cough* Thunderbird *cough* support the color-scheme property
// but not the color scheme preference, for those clients we set the colors in a
// prefers-color-scheme: light media query and have a fallback that styles automatically via the color-scheme property.

@media (prefers-color-scheme: light) {
    hr {
        border-color: #000;
    }

    .code {
        background-color: #F5F5F5;
        border: none;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #121212;
        color: #fff;
    }

    hr {
        border-color: #fff;
    }

    .code {
        background-color: #464646;
        border: none;
    }
}
