{{greeting}} {{name}},

Let's Get You Logged In 👋{{skin_tone}}

Use the code below to log in to Tau's Game Night:

{{code}}

------

P.S. This code is valid for 10 minutes, so hurryyyyy~
P.P.S. You can safely ignore this email if you didn't request it.
