.toggle-button {
    --toggle-button-accent: #d20f39;

    display: grid;

    input, .required { display: none; }

    label {
        display: inline-block;
        font-family: var(--sans-serif);
        font-weight: bold;
        font-size: .75rem;
        padding: .2em .4em;
        border: .1em solid color-mix(in srgb, var(--toggle-button-accent), var(--background-color) 70%);
        border-radius: 6px;
        user-select: none;
    }

    input:checked + label {
        background-color: color-mix(in srgb, var(--toggle-button-accent), var(--background-color) 10%);
        border-color: color-mix(in srgb, var(--toggle-button-accent), var(--background-color) 10%);
        color: #fff;
    }
}

input:checked + .toggle-button {
    --toggle-button-accent: #40a02b;

    .required { display: initial; }
    .veto { display: none; }
}
